:root{font-family:"Inter",sans-serif}
@font-face{font-family:"InterVar";font-weight:100 900;font-style:normal;src:url(Inter.var.woff2) format("woff2-variations"),url(Inter.var.woff2) format("woff2")}
@font-face{font-family:"InterVar";font-weight:100 900;font-style:italic;src:url(Inter-Italic.var.woff2) format("woff2-variations"),url(Inter-Italic.var.woff2) format("woff2")}
body{background-color:#FAFAFA}
.text,a:active,a:link,a:visited,body,svg{color:#242424}
table{text-align:center;vertical-align:middle;border-spacing:5px 5px;border:solid #242424;}
H1,H2{text-align:center;font-weight:700}
p{text-align:center}
.header{top:0;position:fixed;left:-5px;padding:5px;width:100%;text-align:center}
.footer{bottom:0;position:fixed;left:-5px;padding:5px;width:100%;text-align:center}
.center{display:block;margin-left:auto;margin-right:auto}
select,button,input{text-align:center;background-color:#E5E5E5;color:#242424;height:100%;border-radius:25px;border:0!important;box-shadow:none}
::placeholder{text-align:center}

@media (prefers-color-scheme:dark) {
body{background-color:#242424}
.text,a:active,a:link,a:visited,body,svg{color:#FAFAFA}
select,button,input{background-color:#353535;color:#FAFAFA}
table{border:solid #FAFAFA}
}
